:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  background-color: var(--section-color);
}
.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}
.main-btn:hover {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
ul,
li {
  list-style: none;
  text-decoration: none;
}
/* start navbar */
.navbar {
  background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}
.navbar .search {
  border-left: 1px solid var(--green-color);
}
.navbar .search svg {
  color: var(--green-color);
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}
/* end navbar */
/* start landing */
.landing img {
  width: 100%;
  max-height: 94vh;
}
/* end landing */
/* المعرض */
.galearys {
  margin: 4rem 0rem;
}
.galearys .container {
  text-align: center;
}
.galearys .galeary ul {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}
/* .galearys .galeary ul:first-child {
  margin-bottom: 2rem;
} */
.galearys .galeary {
  margin: 3rem 0rem;
}
.galearys .galeary ul::before {
  content: "";
}
.galearys .galeary li {
  font-size: 0.9rem;
  background-color: var(--green-color);
  color: white;
  padding: 6px;
  display: block;
  margin: 0 1rem;
  border-radius: 9%;
  width: 5rem;
  position: relative;
  cursor: pointer;
}
/* .galearys .galeary ul:first-child li {
  background-color: var(--red-color);
} */
.galearys .galeary li::before {
  content: "";
  position: absolute;
  width: 136%;
  height: 5px;
  background-color: #00000021;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
}
.galearys .galeary li.active,
.galearys .galeary li:hover {
  background-color: #33d1cc;
  bottom: 4px;
  transition: 0.3s;
}
/* .galearys .galeary ul:first-child li.active,
.galearys .galeary ul:first-child li:hover {
  background-color: var(--red-color);
} */
.galearys .galeary li.active::before,
.galearys .galeary li:hover::before {
  background-color: #33d1cc;
  bottom: -15px;
  transition: 0.3s;
}
/* .galearys .galeary ul:first-child li.active::before,
.galearys .galeary ul:first-child li:hover::before {
  background-color: var(--red-color);
} */
.galearys .content {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin: 3rem 0;
}
.galearys .content .box {
  margin: 1rem;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 15px;
  background: #faf9fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.galearys .content .image img {
  width: 100%;
}
.galearys .content .text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.galearys .content .text h4 {
  font-size: 1rem;
  margin: 6px;
  padding: 6px 11px;
  background: var(--red-color);
  color: white;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.galearys .content .text h4:nth-child(1) {
  background: var(--green-color);
}
.galearys .container > button {
  font-weight: bold;
  background: red;
  border-radius: 4px;
  padding: 6px 8px;
  color: white;
  border: none;
  cursor: pointer;
}
@media (max-width: 766px) {
  .galearys .content {
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 474px) {
  .galearys .content {
    grid-template-columns: 100%;
  }
  .galearys .galeary ul li {
    padding: 1px;
    margin: 0 0.3rem;
  }
  .galearys .galeary li::before {
    width: 107%;
  }
  .galearys .container > button {
    font-size: 18px;
  }
}
@media (max-width: 300px) {
  .galearys .galeary ul li {
    font-size: 0.7rem;
  }
}
/* المعرض */
/* fotter */
footer {
  background-color: var(--dark-color);
  color: var(--section-color);
  font-size: 22px;
  font-weight: bold;
  padding: 2rem 0;
}
footer span {
  color: var(--yellow-color);
  font-size: larger;
}
footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .coby {
  padding: 0px 10px;
}
@media (max-width: 474px) {
  footer {
    font-size: 8px;
  }
}
@media (max-width: 300px) {
  footer {
    font-size: 7px;
  }
}
/* fotter */
