<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/user/add/:<%= obj._id  %>?_method=PUT" method="post" enctype="multipart/form-data">
      <div>
        <div class="col-md-6">
          <label for="inputGender" class="form-label">الشركه</label>
          <select name="comp" id="inputGender" class="form-select">
            <option selected hidden disabled>Choose here ...</option>
            <option <% if (obj.comp === "زنوبيا") { %>
             selected
            <% } %> >زنوبيا</option>
            <option <% if (obj.comp === "بلقيس") { %>
             selected
            <% } %> >بلقيس</option>
            <option <% if (obj.comp === "اشبيليا") { %>
             selected
            <% } %> >اشبيليا</option>
          </select>
        </div>
      </div>
      <div>
        <div class="col-md-6">
          <label for="inputGender" class="form-label">النخب</label>
          <select name="type" id="inputGender" class="form-select">
            <option selected hidden disabled>Choose here ...</option>
            <option <% if (obj.type === "نخب اول") { %>
             selected
            <% } %>>نخب اول</option>
            <option <% if (obj.type === "نخب ثاني") { %>
             selected
            <% } %>>نخب ثاني</option>
            <option <% if (obj.type === "نخب ثالث") { %>
             selected
            <% } %>>نخب ثالث</option>
            <option <% if (obj.type === "نخب رابع") { %>
             selected
            <% } %>>نخب رابع</option>
          </select>
        </div>
      </div>
      <div>
        <input type="file" name="image" />
      </div>
      <div class="col-12">
        <button type="submit">تحديث المنتج </button>
      </div>
    </form>
  </body>
</html>
